.resimslider{

height: 500px;
padding-left: 300px;
padding-right: 300px;
 
}




body{padding-top: 50px;
 font-family: "Raleway", serif;
}




.sag{
    padding-right: 350px;
}
.sol{
    padding-left: 350px;

}

